<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpfirst.dao.project.ZkProjectMapper" >

    <sql id="Base_Column_List" >
        projectID, projectName, createUserID, createDate, state
    </sql>

    <select id="selectListByCreateUserID" resultType="com.xpfirst.model.ZkProject" >
        select
        <include refid="Base_Column_List" />
        from zk_project
        where state = 1
        AND createUserID = #{createUserID}
        LIMIT #{stateIndex},#{pageSize}
    </select>
    <select id="selectInfoByProjectID" resultType="com.xpfirst.model.ZkProject" >
        select
        <include refid="Base_Column_List" />
        from zk_project
        where state = 1
        AND projectID = #{projectID}
    </select>
</mapper>